body {
    background-color: #333; /* base of my website */
}

h1{
    font-size: 70px;
    color: white;
    text-align: center;
    font-family: "calling-code", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;  /* Space between the left and right buttons */
    padding: 20px;
}

button {
    background-color: white;
    color: limegreen; /* Text color */
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.left-buttons, .right-buttons {
    display: flex;
    gap: 100px; /* Space between buttons */
}
button:hover {
    background-color: #45a049;
}