body {
    background-color: #333;
    margin: 0;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
}

h1 {
    font-size: 70px;
    color: white;
    font-family: "calling-code", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap; /* Prevent wrapping */
    margin: 0;
}


button {
    background-color: white;
    color: #333;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.left-buttons, .right-buttons {
    display: flex;
    gap: 150px;
}

.left-buttons button:first-child {
    margin-left: 150px;
}

.right-buttons button:last-child {
    margin-right: 150px; 
}


button:hover {
    background-color: #45a049;
}

.banner-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

h2 {
    font-size: 70px;
    color: white;
    font-family: "calling-code", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap; /* Prevent wrapping */
    margin: 0;
}


.word-container {
    display: flex;
    justify-content: space-between; /* Evenly space the words */
    margin: 300px auto 20px auto; /* Add 300px margin above the container */
    width: 80%; /* Adjust width to control spacing */
    text-align: center;
}


.word-container span {
    font-size: 20px;
    color: white; /* Match theme */
    font-family: "Arial", sans-serif;
}
